<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <p>
        Title:<%= @book.title %>
        </p>
        <p>
        Body:<%= @book.body %>
        </p>
        <p><%= link_to 'Edit',edit_book_path(@book.id) %></p>
        <p><%= link_to 'Back',books_path %></p>
    </body>
</html>