<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>ようこそ Bookers へ！</h1>
        
        <p>
            Bookers では、さまざまな書籍に関するあなたの意見や<br>
            印象を共有し交換することができます
        </p>
        <a href="/books">start</a>
    </body>
</html>